@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import "tailwindcss";
@import "./buttons.css";

:root {
    --white: #f1f0E1;
  }

body{
    font-family: "DM Mono", monospace;
    background: #101015 url(../assets/back.png);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    color: #f1f0E1;
    font-size: 12px;
}

.notselected{
    background: rgb(20, 20, 20);
    border: 1px solid rgb(85, 85, 85);
}
.selected{
    background: rgb(63, 63, 63);
    border: 1px solid rgb(100, 100, 100);
}
.selected.connected{
    background: rgba(76, 100, 69, 0.815);
    border: 1px solid rgba(145, 255, 145, 0.308);
}
.connected{
    background: rgb(27, 36, 25);
    border: 1px solid rgb(64, 83, 63);
} 


.bg-blur{
    backdrop-filter: blur(15px);
}


.drop-shadow {
    box-shadow: 0px 0px 10px 1px #101015;
}

.exit {
    top: -150px;
    opacity: none;
}