@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

body{
    font-family: "Source Code Pro", monospace;
    background: black url(../assets/back.png);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    color: white;
}

.notselected{
    background: rgb(20, 20, 20);
    border: 1px solid rgb(85, 85, 85);
}
.selected{
    background: rgb(63, 63, 63);
    border: 1px solid rgb(100, 100, 100);
}
.selected.connected{
    background: rgba(76, 100, 69, 0.815);
    border: 1px solid rgba(145, 255, 145, 0.308);
}
.connected{
    background: rgb(27, 36, 25);
    border: 1px solid rgb(64, 83, 63);
} 